<%- include('partials/header.ejs') %>


<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <div class="container my-5">

    <h1><%= title %></h1>
        <div class="row">



          <% data.forEach(element => { %>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem; ">
              <img src="data:image/<%=element.img.contentType%>;base64,<%=element.img.data.toString('base64')%>" class="card-img-top py-5 " alt="..." >

              <div class="card-body">
                <h5 class="card-title"><%= (element.title).substr(0,50) %></h5>
               
                <p class="card-text"> <%= (element.content).substr(0,200) + "..." %></p>

                <a href="/posts/<%=element.title%>" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>



          <% }) %>






        </div>
        <%- include('partials/footer.ejs') %>