<%- include('partials/header.ejs') %>

<body>
<div class="container">


<img src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" alt="image" style="width: 200px;height:200px ;" >
<h2><%= title %></h2>
<p><%= content %></p>
<form action="/posts/<%=title%>" method="post" >
  <!-- <button type="submit" name="delete" value="<%#=title%>" class="btn btn-danger" value="delete" >DELETE</button> -->
  
</form>
<div class="container">
  <h5 class="display-5">Comment here</h5>

    <% comment.forEach(element => { %>
    <h3 class="display-3"> <%= (element.username) %> </h3>
    <p> <%= (element.comment) %> </>
<% })%> 

  <form method="POST" onsubmit="return doComment(this);" >
    <input type="hidden" name="_id" value="<%=id%>">
        <div class="row">       
     
     
         <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comment"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>
      </div>
    <button class="btn btn-primary">POST COMMENT</button>
</form>
</div>
</div>

<%- include('partials/footer.ejs') %>


<!-- <article>
  <form method="POST" action="/comment">
      <div class="input-field">
          <label>Comment:</label>
          <textarea type="text" name="comment" rows="20" placeholder="What's on your mind?"></textarea>
      </div>
      <input type="hidden" name="article-id" value="{{article.id}}">
      <button type="submit">Add Comment</button>
  </form>
</article> -->